body > #root > div {
  height: 100vh;
}

body{
  background: rgb(54,217,182);
  background: linear-gradient(90deg, rgba(54,217,182,1) 0%, rgba(32,152,126,1) 43%, rgba(0,212,255,1) 100%);
  padding:0;
  margin:0;
}

h1, h2, h3, h4, h5, p, span, strike, a, input{
  font-family: 'Montserrat', sans-serif;

}

.columnsDiv {
  display:flex;
  min-height: 100%;
  padding:1rem;
  font-size: small;
}

.columnName {
  margin-bottom: 0.5rem;
  margin-left:0.4rem;
}

.columnName > span {
  font-weight: 600;
}

.tasksDiv {
  margin-right: 1rem;
  max-width: 14rem;
  min-width: 14rem;
  border-radius:0.2rem;
  padding:0.5rem;
  background-color:rgb(240, 240, 240);
  height: fit-content;
}

.tasks {
  background-color:white;
  margin-bottom: 0.5rem;
  border-radius: 0.2rem;
  padding:0.2rem;
  box-shadow: 0 3px 2px -2px gray;
  cursor: pointer;
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.tasks:hover {
  background-color:rgb(243, 243, 243);
}

.columnAdd {
  background: rgba(255, 255, 255, 0.5);
  height:fit-content;
  padding:0.45rem;
  border-radius: 0.2rem;
  cursor: pointer;
  display:flex;
}

.taskAdd {
  cursor: pointer;
  height:fit-content;
  padding:0.3rem 0 0.3rem 0.7rem;
  border-radius: 0.2rem;
  display:flex;
}

.taskAdd:hover {
  background-color:rgb(226, 226, 226);
}

.plus {
  font-size: 16px;
  height: 20px;
  line-height: 20px;
  font-family: trellicons;
  font-style: normal;
  font-weight: 400;
  margin-right: 0.3rem;
}

.taskInput {
  display:flex;
  flex-direction: column;
}

.taskInput > textarea {
  width: 100%;
  margin-bottom: 0.3rem;
  border:none;
  outline: none;
  resize: none;
}

.btn-add {
  border:none;
  background-color:#0079bf;
  color:white;
  padding:0.3rem;
  border-radius: 0.2rem;
}

.btn-cancel {
  border:none;
}

button:focus {
  outline: none;
}

.columnInput {
  display:flex;
  flex-direction: column;
  background-color:rgb(240, 240, 240);
  height:fit-content;
  padding:0.5rem;
  width:14rem;
  border-radius: 0.2rem;
}

.columnInput > textarea {
  width: 100%;
  margin-bottom: 0.3rem;
  border:none;
  outline: none;
  resize: none;
}

.btn-change {
  padding:0 0.2rem;
  border-radius:0.1rem;
  display:none;
}

.btn-change:hover {
  background-color:rgb(233, 233, 233);
}

.tasks:hover .btn-change {
  display:block;
}