.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 3rem;
  padding: 1rem;
}

a {
  color: #212529;
}

a:hover {
  text-decoration: none;
  color: #212529;
}

.headerDiv > div > a,
.authDiv > div > a {
  color: inherit;
  text-decoration: none;
}

.authDiv {
  display: flex;
  width: 8rem;
  justify-content: space-between;
}

.logoutDiv > p {
  margin: 0;
}

.logoutBtn {
  cursor: pointer;
}

.profileDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selected {
  border-bottom: 1px solid black;
}

.profileImage {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  image-rendering: high-quality;
}

.dropdown {
  position: absolute;
  top: 3.3rem;
  right: 0.2rem;
  width: 9rem;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: white;
  padding: 0.3rem 0;
  border-radius: 0.2rem;
}

.dropdown > ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdownChild {
  padding: 0.35rem 0 0.35rem 0.4rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.dropdownChild > p {
  margin: 0 0 0 1.3rem;
}

.dropdownChild:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

.username {
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.username > p {
  margin: 0 auto;
}

.dropdown > ul > hr {
  margin: 0.4rem auto;
  width: 90%;
}

.dropdown > ul > li {
  display:flex;
  align-items:center;
  position: relative;
}

.dropdown > ul > li > a {
  margin-left:1.3rem;
}

.profileIcon {
  position: absolute;
  left: 0.35rem;
  bottom: 0.61rem;
}

.signoutIcon {
  position: absolute;
  left: 0.5rem;
  bottom: 0.60rem;
}

.dropdown > ul > li > a {
  width:100%;
}

.selectTable {
  border: 0.08rem solid black;
  border-radius: 0.2rem;
  position: relative;
  margin-right:1rem;
  padding:0.2rem 0.3rem;
  cursor:pointer;
}

.selectTable > span:after{
  position: relative;
  top: -3px;
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-right: 0.01rem solid black;
  border-top: 0.01rem solid black;
  transform: rotate(135deg);
  margin-right: 0.3rem;
  margin-left: 0.5rem;
}

.tableOptions {
  position: absolute;
  list-style-type: none;
  background-color:white;
  border-radius:0.2rem;
  top: 2.75rem;
  right:0;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  background-color: white;
  padding: 0.3rem 0.2rem;
  border-radius: 0.2rem;
}

.tableOptions > li {
  padding: 0 0.4rem;
  border-radius:0.2rem;
  margin:0.2rem 0;
}

.tableOptions > li:hover {
  background-color:rgba(0, 0, 0, 0.07);
}