.profileDiv {
    display:flex;
    justify-content: center;
    padding-top: 1rem;
}

.infoDiv {
    display:flex;
    margin:auto;
    justify-content: flex-start;
    width:37rem;
    background-color:white;
    border-radius:0.15rem;
    padding:1.5rem;
}

.profileImage {
    width: 8rem;
    height: 8rem;
    display: block;
    border-radius:10%;
    object-fit: cover;
    image-rendering: smooth;
}

.basicInfo {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2rem;
}

.uploadWrapper {
    position:relative;
    padding:0;
}

.uploadWrapper > input{
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    cursor: pointer;
}::-webkit-file-upload-button { cursor:pointer; }

.formDiv {
    width:100%;
}

.formDiv > label {
    width:100%;
    margin:0;
}

.infoInput {
    border: 1px solid #ccc;
    border-radius:3px;
    display:block;
    width:100%;
    padding:0.3rem;
    margin-bottom: 0.5rem;
}

.infoInput:focus {
    outline: none;
}

.formDiv > input[type=submit] {
    margin-top:1rem;
    background-color:rgb(54, 217, 182);
    font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border:none;
    border-radius: 0.2rem;
    color:white;
    width:4rem;
}