.TaskInfoContainer {
    position:absolute;
    top:0%;
    right:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.45);
    z-index: 1;
}

.TaskInfoDiv {
    position:absolute;
    top:50%;
    left:50%;
    background-color:white;
    width:50rem;
    height:30rem;
    margin: -15rem 0 0 -25rem;
    border-radius:0.2rem;
}

.mainDiv {
    padding: 1.7rem 3rem;
}

.mainDiv > p {
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
}

.descriptionText {
    width:100%;
    height:5rem;
    background-color:rgb(247, 247, 247);
    border:none;
    border-radius: 0.2rem;
    resize: none;
    padding:1rem;
    outline: none;
}